.container {
  margin: 0 auto; /* Guarantees that the left and right margins will be set to the same size, top and bottom are set to 0 */
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
